<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
    body {
        background-color: #edebac;
    }
</style>

<body>
<nav class="w3-bar w3-green">
    {% if user.is_authenticated %}
        <label class="w3-bar-item w3-left-align">Signed in as {{ user.username }}</label>

        <a class="w3-bar-item w3-button w3-right" href="{% url 'logout' %}">Sign out</a>
        <a class="w3-bar-item w3-button w3-right" href="{% url 'home' %}">Home</a>
    {% endif %}
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>