{% extends 'registration/base.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <ul class="w3-ul w3-center w3-yellow">
                <li class="w3-card-4">{{ message }}</li>
            </ul>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
        <h2 class="w3-block w3-teal w3-center w3-card-4">Bike Sharing</h2>
        <div class="s3-block w3-center">
            <a class="w3-button w3-green w3-ripple" href="{% url 'bikeShare:Home' %}">Borrow or return bike</a>
        </div>
        <h2 class="w3-block w3-blue w3-center w3-card-4">Personal Details</h2>
        <div class="w3-block w3-center">
            <a class="w3-button w3-cyan w3-ripple" href="{% url 'bikeShare:Rides' %}">Previous rides</a>
            <a class="w3-button w3-cyan w3-ripple" href="{% url 'changePassword' %}">Change password</a>
        </div>
    {% else %}
        <h2 class="w3-block w3-red">You need to sign in to use this service</h2>
        <a class="w3-button w3-teal w3-ripple" href="{% url 'login' %}">Sign in</a>
        <a class="w3-button w3-teal w3-ripple" href="{% url 'register' %}">Sign up</a>
        <a class="w3-button w3-red w3-ripple" href="{% url 'admin:index' %}">Log in as administrator</a>
    {% endif %}
{% endblock %}