{% extends 'registration/base.html' %}

{% block title %}See you!{% endblock %}

{% block content %}
    <h2 class="w3-panel w3-green w3-card-4 w3-center">Logged Out</h2>
    <label class="w3-block w3-center">You have been successfully logged out.</label>
    <div class="w3-container w3-center" style="align-content:  ">
        <a class="w3-bar-item w3-button w3-teal w3-ripple" href="{% url 'login' %}">Sign in again</a>
        <a class="w3-bar-item w3-button w3-teal w3-ripple" href="{% url 'register' %}">Sign up</a>
        <a class="w3-bar-item w3-button w3-deep-orange w3-ripple" href="{% url 'admin:index' %}">Sign in as
            administrator</a>
    </div>
{% endblock %}