{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2 class="w3-block w3-green">Login</h2>
    <form class="w3-container" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="w3-button w3-teal" type="submit">Login</button>
    </form>
{% endblock %}