{% extends 'registration/base.html' %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div class="w3-card-4">

        <div class="w3-container w3-green">
            <h2>Change password</h2>
        </div>
        {% if messages %}
            <ul class="w3-ul">
                {% for message in messages %}
                    <li class="w3-panel w3-red">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="w3-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w3-button w3-green" type="submit">Change password</button>
            <a class="w3-button w3-red" href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
{% endblock %}