{% extends 'bikeShare/base.html' %}
{% load mathfilters %}

{% block title %}
    Finish ride
{% endblock %}


{% block content %}

    {% if not error %}

        <ul class="w3-ul w3-center">
            <li class="w3-teal">
                <h2>
                    Online stations
                </h2>
            </li>
            {% for station in station_list %}
                <li>
                    {% if station.capacity > station.bike_set.count %}
                        <a href="{% url 'bikeShare:FinishRideAtStation' ride_id=ride.id station_id=station.id %}" class="w3-button w3-block " style="font-weight: bold">{{ station.name }}
                            <p style="font-style: italic">
                                Free spaces: {{ station.capacity|sub:station.bike_set.count }}
                            </p>
                        </a>
                    {% else %}
                        <p class="w3-red" style="font-weight: bold">{{ station.name }}</p>
                        <br>
                        <p style="font-style: italic; font-weight: bold"> Free spaces: 0</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    {% else %}

        <div class="w3-panel w3-red">
            <h2>Error!</h2>
            <p>Ride is already finished</p>
        </div>

    {% endif %}

{% endblock %}
