{% extends 'bikeShare/base.html' %}

{% block title %}
    Current status of rides
{% endblock %}

{% block content %}
    {% if rides %}
        <ul class="w3-ul w3-center">
            <li class="w3-teal"><h2>Current Rides</h2></li>
            {% for ride in rides %}
                <li>
                    <a class="w3-button w3-block" href="{% url 'bikeShare:RideIndex' ride.id %}">{{ ride.startTime }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="w3-panel w3-teal w3-center">
            <p>No current rides in progress</p>
        </div>
        <div class="w3-center">
            <a class="w3-button w3-red" href="{% url 'bikeShare:Stations' %}">Borrow a bike</a>
        </div>
    {% endif %}
{% endblock %}