{% extends 'registration/base.html' %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h2>Register</h2>
        </div>
        <form class="w3-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w3-button w3-green" type="submit">Register</button>
            <a class="w3-button w3-red" href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
{% endblock %}