{% extends 'bikeShare/base.html' %}

{% block title %}
    Past rides
{% endblock %}

{% block content %}
    {% if user_rides %}
        <ul class="w3-ul w3-center">
            <li class="w3-teal">
                <h1>Your Past Rides</h1>
            </li>
            {% for ride in user_rides %}
                <li>
                    <a class="w3-button w3-block w3-ripple" style="font-weight: bold" href="{% url 'bikeShare:RideIndex' ride_id=ride.id %}">
                        {{ ride.startStation }} to {{ ride.endStation }}
                        <p style="font-style: italic; color: dodgerblue;" >{{ ride.status }}</p>
                    </a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <h2 class="w3-panel w3-block w3-light-green w3-center">You have no past rides</h2>
    {% endif %}

{% endblock %}