{% extends 'bikeShare/base.html' %}

{% block title %}
    Ride {{ ride.id }}
{% endblock %}

{% block content %}
    <ul class="w3-ul ">
        <li class="w3-block">
            <label style="font-weight: bold">User: </label>
            <label >{{ ride.user.first_name }} {{ ride.user.last_name }}</label>
        </li>
        <li class="w3-block">
            <label style="font-weight: bold">Bike: </label>
            <label >{{ ride.bike.id }}</label>
        </li>
        <li class="w3-block">
            <label style="font-weight: bold">Start Time: </label>
            <label >{{ ride.startTime }}</label>
        </li>
        <li>
            <label style="font-weight: bold">End Time: </label>
            {% if not in_progress %}
                <label >{{ ride.endTime }}</label>
            {% else %}
                <label style="font-style: italic; color: #990600;">Ride is currently in progress</label>
            {% endif %}
        </li>
        <li>
            <label style="font-weight: bold">Start Station: </label>
            <label >{{ ride.startStation }}</label>
        </li>
        <li>
            <label style="font-weight: bold">End Station: </label>
            {% if not in_progress %}
                <label >{{ ride.endStation }}</label>
            {% else %}
                <label style="font-style: italic; color: #990600;">Ride is currently in progress</label>
            {% endif %}
        </li>
        <li>
            <label style="font-weight: bold">Status: </label>
            <label >{{ ride.status.description }}</label>
        </li>
    </ul>

    {% if in_progress %}
        <a class="w3-block w3-button w3-center w3-orange" href="{% url 'bikeShare:ReportBroken' ride_id=ride.id bike_id=ride.bike.id %}">Report bike as broken</a>
        <a class="w3-block w3-button w3-center w3-red" href="{% url 'bikeShare:FinishRideSelectStation' ride.id%}">Finish ride</a>
    {% endif %}

{% endblock %}