{% extends 'registration/base.html' %}

{% block title %}
    Online stations
{% endblock %}

{% block content %}
    {% if online_station_list %}
        <ul class="w3-ul w3-center">
            <li class="w3-teal">
                <h1>Online Stations</h1>
            </li>
            {% for station in online_station_list %}
                <li >
                    <a class="w3-button w3-block" style="font-weight: bold" href="{% url 'bikeShare:StationIndex' station_id=station.pk %}">
                        {{ station.name }}<br>
                        <p style="font-style: italic">Bikes available: {{ station.bike_set.count }}</p>
                    </a>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <label class="w3-panel w3-red">No stations are available</label>
    {% endif %}
{% endblock %}


