{% extends 'bikeShare/base.html' %}


{% block title %}
    Online bikes
{% endblock %}

{% block content %}
    <h2 class="w3-block w3-teal w3-center">Bikes available at {{ station.name }} station</h2>
    {% if error_message %}
        <label class="w3-panel w3-red w3-block w3-center w3-large">{{ error_message }}</label>
    {% endif %}
    {% if bike_set %}
        <form class="w3-form w3-center" action="{% url 'bikeShare:Borrow' station.id %}" method="post">
            {% csrf_token %}
            {% for bike in bike_set.all %}
                <input class="w3-radio" type="radio" name="bike" id="bike{{ forloop.counter }}" value="{{ bike.id }}">
                <label for="bike{{ forloop.counter }}">
                    Bike nr. {{ bike.id }}
                </label><br>
            {% endfor %}
            <br>
            <input class="w3-button w3-blue" type="submit" value="Borrow"/>
        </form>
    {% else %}
        <label class="w3-panel w3-yellow w3-block w3-center w3-large">No bikes are available at this station</label>
    {% endif %}
{% endblock %}

